# Auto detect text files and perform LF normalization
* text=auto

# Ignore build/dist output from language stats
build/** linguist-generated=true
dist/** linguist-generated=true
__pycache__/** linguist-generated=true
*.spec linguist-generated=true
